<%# Class Variable: @quote %>
<%# Local Variable: :button_text %>

<% @quote.tags.build %>
<% form_for(@quote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <% f.fields_for @quote.author do |author_form| %>
    <p>
      <%= author_form.label :name, 'Author:' %>
      <%= author_form.text_field :name %>
    </p>
  <% end -%>
    
  <% for tag in @quote.tags %>
    <% f.fields_for tag, :index => tag.id do |tag_form|%>    
      <p>
        <%= tag_form.label :name, 'Tag:' %>
        <%= tag_form.text_field :name %>
        <% unless tag_form.object.nil? || tag_form.object.new_record? %>
          <span>
            <%= tag_form.check_box :_delete %>
            <%= tag_form.label :_delete, 'Remove' %>
          </span>
        <% end %>
      </p>
    <% end -%>
  <% end -%>

  <p>
    <%= f.submit button_text %>
  </p>

<% end %>